<html><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title></title>
    <link rel="stylesheet" href="/static/weui.min.1.1.2.css">
</head>
<body ontouchstart="">
    <div class="weui-toptips weui-toptips_warn js_tooltips">错误提示</div>
    <div class="container" id="container"><div class="page msg_warn js_show">
    <div class="weui-msg">
        <div class="weui-msg__text-area">
            <h2 class="weui-msg__title">{{ message }}</h2>
            <p class="weui-msg__desc"></p>
        </div>

        <div class="weui-msg__extra-area">
            <div class="weui-footer">
                <p class="weui-footer__links">
                    <a href="javascript:void(0);" class="weui-footer__link">拿了就走</a>
                </p>
                <p class="weui-footer__text">Copyright © 2013-2017 1015shop.com</p>
            </div>
        </div>
    </div>
</div></div>
</body></html>

